* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  background-color: rgb(1 0 27);
  height: 50px;
  position: relative;
  justify-content: space-between;
  border-bottom: 4px solid #31b9e4;
}

nav .left {
  display: flex;
}

.logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo i {
  color: yellow;
  font-size: 30px;
}

.descriptor {
  color: white;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.grid {
  align-content: center;
  height: 100%;
  display: grid;
  grid-template-areas: "absoluteDiv notification notice profile";
  grid-gap: 20px;
  font-family: quicksand;
  align-items: center;
  padding-right: 10px;
}
.absoluteDiv {
  grid-area: absoluteDiv;
  display: grid;
  height: 100%;
  align-content: center;
  align-items: center;
  grid-gap: 20px;
  grid-template-areas: "dashboard content users reports admin";
}
.burger {
  display: none;
  grid-area: burger;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  height: -webkit-fill-available;
  padding: 5px 0px;
}
.burger .line {
  width: 25px;
  height: 3px;
  background-color: #3fd28b;
}
.dashboard {
  display: flex;
  align-items: center;
  height: 100%;
  color: #3fd28b;
  grid-area: dashboard;
}
nav .content {
  display: flex;
  align-items: center;
  height: 100%;
  color: #3fd28b;
  grid-area: content;
}
.users {
  display: flex;
  align-items: center;
  height: 100%;
  color: #3fd28b;
  grid-area: users;
}
.reports {
  display: flex;
  align-items: center;
  height: 100%;
  color: #3fd28b;
  grid-area: reports;
}
.admin {
  display: flex;
  align-items: center;
  height: 100%;
  color: #3fd28b;
  grid-area: admin;
}
.notification {
  display: flex;
  align-items: center;
  grid-area: notification;
  color: #3fd28b;
  margin: 0px 10px;
  position: relative;
}
.notification p,
.notice p {
  position: absolute;
  top: -10px;
  right: -7px;
  width: 15px;
  height: 15px;
  z-index: 1;
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #2a7ff3;
}
.notice p {
  right: -10px;
}
.notice {
  display: flex;
  align-items: center;
  grid-area: notice;
  color: #3fd28b;
  margin: 0px 10px;
  position: relative;
}
.profile {
  display: flex;
  align-items: center;
  grid-area: profile;
  position: relative;
}
.profile p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  color: black;
  background-color: white;
  height: 15px;
  width: 15px;
  font-size: 10px;
  right: -3px;
  top: -3px;
  z-index: 1;
}
.profile .profileImg {
  border: 2px solid #3fd28b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.profile .profileImg img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.active {
  color: white !important;
  border-bottom: 2px solid white;
}
.footer {
  background-color: #00000029;
  height: 50px;
  text-align: center;
}
.footer .footerDiv {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.footer i {
  color: #a58c11;
  font-size: 18px;
}
.links a {
  color: #1f7a54;
  margin: 10px;
  text-decoration: none;
}
.links {
  text-align: center;
  margin: 20px;
}

/* ---------------------------------- Announcement Start ------------------- */

.announcementDiv {
  position: absolute;
  top: 30px;
  padding-top: 24px;
  right: 125px;
  width: 315px;
  background: transparent 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: none;
  flex-direction: column;
  z-index: 1;
}

@keyframes open {
  from {
    top: 0px;
  }
  to {
    top: 54px;
  }
}
@keyframes close {
  from {
    top: 54px;
  }
  to {
    top: 0px;
  }
}

.announcementDiv .announcements {
  max-height: 500px;
  width: 100%;
  max-height: 440px;
  overflow: overlay;
  grid-gap: 1px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background: #666666;
}
.announcementDiv .announcements::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

.announcements::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
}

.backChange {
  background-color: #ffffee !important;
}

.announcementDiv .announcements .announcement {
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* border-bottom: 1px solid #666666; */
}
.announcementDiv .announcements .announcement .name-tick {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.announcementDiv .announcements .announcement .name-tick .name i {
  color: #6e6e6e;
}
.announcementDiv .announcements .announcement .name-tick .name {
  font-size: 12px;
}
.announcements .announcement .name-tick .tick {
  color: #1f7a54;
  font-size: 18px;
  font: normal normal normal 18px/18px Material-Design-Iconic-Font;
}
.announcement .title {
  padding: 5px;
  font-size: 14px;
}
.announcement .courseCount {
  padding: 5px;
  color: #6e6e6e;
  font-size: 12px;
}
.announcement .with-date {
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-size: 12px;
  color: #6e6e6e;
  grid-template-areas: "attach date";
}
.attach {
  grid-area: attach;
}
.date {
  grid-area: date;
}
.announcementDiv .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 6px #0000003d;
  padding: 5px 0px;
  z-index: 1;
  background-color: white;
}
.announcementDiv .buttons button {
  color: #1f7a54;
  height: 100%;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
}
.announcementDiv .buttons .showall {
  border-right: 1px solid black;
}

/* ----------------------- Announcement End ------------------------------------ */

/* ----------------------- Alerts Start ---------------------------------------- */
.alertDiv {
  position: absolute;
  top: 20px;
  padding-top: 34px;
  right: 175px;
  background-color: transparent;
  box-shadow: 0px 3px 6px #0000003d;
  opacity: 1;
  width: 315px;
  display: none;
  flex-direction: column;
  max-height: 500px;
  z-index: 1;
}
.alertDiv .alerts {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  overflow: auto;
  grid-gap: 1px;
  max-height: 480px;
}

.alertDiv .alerts::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}

.alertDiv .alerts::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 20px;
}

.alertDiv .alerts .alert {
  padding: 5px;
  background-color: white;
}
.alertDiv .alerts .alert .title-check {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px;
  font-size: 14px;
}
.alertDiv .alerts .alert .title-check .check {
  color: #1f7a54;
}
.alertDiv .alerts .alert .course {
  color: #6e6e6e;
  padding: 5px;
  font-size: 12px;
  display: flex;
}
.alertDiv .alerts .alert .course p {
  color: black;
  margin-left: 3px;
}
.alertDiv .alerts .alert .date {
  display: flex;
  justify-content: flex-end;
  color: #6e6e6e;
  font-size: 12px;
  padding: 5px;
}

.alertDiv .buttons {
  width: 100%;
  box-shadow: 0px 1px 6px #0000003d;
  border-radius: 0px 0px 2px 2px;
  z-index: 2;
}
.alertDiv .buttons button {
  padding: 10px;
  width: 100%;
  color: #1f7a54;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: white;
}
/* ----------------------- Alerts End ---------------------------------------- */

@media screen and (max-width: 850px) {
  .grid {
    grid-template-areas: "notification notice profile burger";
  }
  .burger {
    display: grid;
  }
  .absoluteDiv {
    display: none;
    font-size: 14px;
    position: absolute;
    justify-items: flex-start;
    background-color: transparent;
    color: #3fd28b;
    top: 40px;
    padding-top: 24px;
    width: 280px !important;
    right: 10px;
    width: -webkit-fill-available;
    grid-template-areas:
      "dashboard"
      "content"
      "users"
      "reports"
      "admin";
    height: max-content;
    z-index: 1;
    box-shadow: 0px 13px 20px #0000003d;
    border-radius: 2px;
    grid-gap: 0px;
  }
  .absoluteDiv div {
    background-color: white;
    width: -webkit-fill-available;
    padding: 10px 10px;
  }
  .absoluteDiv:hover {
    display: grid;
  }
  .active {
    color: #3fd28b !important;
    border: none !important;
  }
}
